spring:
  application:
    name: ms-books-payments
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PWD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

## URL del servicio de catalogo
catalogue:
  base-url: ${CATALOGUE_URL}

## Configuracion de Instancia
server:
  port: ${PORT:8080}

## Configuracion del cliente de Eureka
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL}
  instance:
    preferIpAddress: true
    hostname: ms-books-payments

